name: Simple CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main    

jobs:
  hello-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist

      - name: lint
        run: npm run lint

      - name: Say Hello
        run: echo "Hello from CI"
  
  great:
    runs-on: ubuntu-latest
    needs: build-and-lint

    steps:
      - name: Say Hello
        run: echo "Hello from CI (second job)"